[submodule "snippets/Ryan-on-Rails"]
	path = snippets/Ryan-on-Rails
	url = git@github.com:WhatWeDo/ryan-on-rails.sublime-text.git
[submodule "themes/Soda"]
	path = themes/Soda
	url = git@github.com:buymeasoda/soda-theme.git
